.Rproj.user
.Rhistory
.RData
.Ruserdata
machine_learning
18S_dada2_output
picrust2_files
ec_files_expasy
18S_analysis
test
16S_dada2_output
dan_files
network_analyses
picrust2_objects
presentations
dan_out
scripts/16S_EC/axes.csv
figures
figures/old
dan_out_2
manuscript