.Rproj.user
.Rhistory
.RData
.Ruserdata
machine_learning
18S_dada2_output
picrust2_files
ec_files_expasy
18S_analysis
test
16S_dada2_output
dan_files
network_analyses
picrust2_objects
presentations
presentations_notes
dan_out
scripts/16S_EC/axes.csv
figures
figures/old
dan_out_2
manuscript
scripts/ko00001.json
scripts/ko00001.keg
scripts/pathways.csv
scripts/pathways.xlsx
scripts/top_ECs.RDS
scripts/top_TAX.RDS
pathways_files